In [5]:
from aglaia import symm_funct
from aglaia.tests import np_symm_funct
from aglaia.tests import tensormol_symm_funct
import numpy as np
import tensorflow as tf

In [6]:
input_data = "/Volumes/Transcend/repositories/Aglaia/aglaia/tests/data_test_acsf.npz"
data = np.load(input_data)

In [7]:
xyzs = data["arr_0"]
zs = data["arr_1"]
elements = data["arr_2"]
element_pairs = data["arr_3"]

In [8]:
acsf_tf_t = symm_funct.generate_parkhill_acsf(xyzs, zs, elements, element_pairs)
acsf_tm_t = tensormol_symm_funct.tensormol_acsf(xyzs, zs, elements, element_pairs)

In [9]:
sess = tf.Session()
sess.run(tf.global_variables_initializer())

In [10]:
acsf_tf = sess.run(acsf_tf_t)
acsf_tm = sess.run(acsf_tm_t)

In [11]:
print(acsf_tf.shape)
print(acsf_tm.shape)

(5, 7, 39)
(35, 39)

In [12]:
acsf_np = np_symm_funct.generate_acsf(xyzs, zs, elements, element_pairs)
print(acsf_np.shape)

(5, 7, 39)

In [15]:
acsf_tf_2 = np.reshape(acsf_tf, acsf_tm.shape)
print(acsf_tf_2.shape)
acsf_np_2 = np.reshape(acsf_np, acsf_tm.shape)
print(acsf_np_2.shape)

(35, 39)
(35, 39)

In [16]:
acsf_tf_sort = np.sort(acsf_tf_2, axis=-1)
acsf_np_sort = np.sort(acsf_np_2, axis=-1)
acsf_tm_sort = np.sort(acsf_tm, axis=-1)

In [17]:
import pandas as pd

In [18]:
df_tf = pd.DataFrame(acsf_tf_sort)
df_tm = pd.DataFrame(acsf_tm_sort)
df_np = pd.DataFrame(acsf_np_sort)

In [23]:
df_tf["norm"] = np.sqrt(np.square(df_tf).sum(axis=1))

In [24]:
df_tm["norm"] = np.sqrt(np.square(df_tm).sum(axis=1))
df_np["norm"] = np.sqrt(np.square(df_np).sum(axis=1))

In [25]:
df_tf_sort = df_tf.sort_values(by=['norm'])
df_tm_sort = df_tm.sort_values(by=['norm'])
df_np_sort = df_np.sort_values(by=['norm'])

In [26]:
df_tf_sort.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,norm
27,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,7.685821e-09,2.378334e-08,7.071060e-08,0.000001,0.000003,0.000007,0.045778,0.073513,0.113422,0.142704
26,0.0,0.0,0.0,0.0,0.0,0.0,9.646336e-13,3.004592e-12,8.995048e-12,2.301977e-11,...,1.573026e-03,2.324601e-03,3.186922e-03,0.004705,0.006209,0.009154,0.045778,0.073513,0.113422,0.143272
34,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,6.488957e-05,1.522494e-04,3.432136e-04,0.000359,0.000694,0.001286,0.052994,0.084096,0.128221,0.162246
13,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,9.746783e-06,9.791625e-06,2.406970e-05,0.000122,0.000269,0.000571,0.060897,0.095530,0.143983,0.183210
20,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,8.921217e-06,9.349428e-06,2.279006e-05,0.000237,0.000484,0.000951,0.062299,0.097542,0.146735,0.186890

In [27]:
df_tm_sort.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,norm
27,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.385335e-08,4.286841e-08,1.274527e-07,0.000001,0.000004,0.000009,0.047542,0.076345,0.117791,0.148201
26,0.0,0.0,0.0,0.0,0.0,0.0,1.501856e-12,4.679298e-12,1.401403e-11,3.697764e-11,...,1.889620e-03,2.790223e-03,3.830793e-03,0.005650,0.007469,0.010998,0.047542,0.076345,0.117791,0.148991
34,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,7.314912e-05,1.716286e-04,3.869000e-04,0.000420,0.000811,0.001504,0.054936,0.087179,0.132921,0.168195
13,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.321916e-05,1.427358e-05,3.508721e-05,0.000156,0.000345,0.000734,0.063021,0.098862,0.149005,0.189601
20,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.044405e-05,1.395508e-05,2.668027e-05,0.000287,0.000587,0.001155,0.064454,0.100916,0.151810,0.193356

In [28]:
df_np_sort.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,norm
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.028231e-09,3.302185e-09,1.018921e-08,2.453323e-07,6.425520e-07,0.000002,0.065057,0.101488,0.152111,0.194088
27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.685789e-09,2.378325e-08,7.071023e-08,1.031386e-06,2.642433e-06,0.000007,0.065057,0.101488,0.152111,0.194088
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.746788e-06,9.791619e-06,2.406965e-05,1.219441e-04,2.688314e-04,0.000571,0.065057,0.101488,0.152111,0.194089
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.465056e-06,3.719133e-06,9.349415e-06,2.366687e-04,4.838493e-04,0.000951,0.065057,0.101488,0.152111,0.194091
34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.223417e-07,4.418236e-07,8.240725e-07,3.593764e-04,6.936336e-04,0.001286,0.065057,0.101488,0.152111,0.194094